.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-container {
    background-color: rgb(171, 229, 248);
    border-radius: 2rem;
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}